<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anonymous.stepple">
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.app_id"
            android:value="@string/google_app_id" />
    </application>
</manifest>
