<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="stepple" />
            </intent-filter>

            <intent-filter
                tools:node="remove">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="stepple" />
                <data
                    android:scheme="stepple"
                    android:host="expo-development-client" />
                <data android:scheme="exp+stepple" />
            </intent-filter>
        </activity>
    </application>
</manifest>
